<!DOCTYPE html>
<html>
  <head>
    <title>NinjaGold</title>
    	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    	<style type="text/css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
